<div class="container-fluid">
	<div class="row">
			<div class="back">
				<div id="f1">
					<div class="col-sm-5">					
					      <img src="/assets/logo.jpg" alt="Smiley face" height="200" width="160" id="logo">
                                         </div> 	
                                         <div class="col-sm-6">
				  		<h1 style="color:red">Explore The Racer In You</h1>
					</div>
				</div>
			</div>
	</div>
</div>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Welcome</a>
    </div>
<div class="logout">
<ul class="nav navbar-nav navbar-right">
     
      <li><a href=<%= destroy_user_session_path %>><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
</div>
<div class="nalist">
    <ul class="nav navbar-nav">
      <li><a href="/home/welcome">Home</a></li>
      <li><a href="/rangers/racers">Racers</a></li>
      <li><a href="#">View Tweets</a></li>
      <li><a href="#">About Us</a></li>
    </ul>
</div>

 </div>
</nav>
