<html>
<%= render "header"%>





<div class="container outerpadding" style="padding:30px ">
<div class="row">

  <div class="col-lg-3">
     <div class="panel">
        <div class="panel-heading" style="background-color:black;color:#fff;"><strong>Mercedes</strong></div>
        <div class="panel-body" style="background-color:#000;color:#fff; box-shadow:0 -12px 13px teal inset;">
        <div class="boximg">
         <img src="/assets/r1.jpg" class="img-responsive">
         <span class="label label-danger date">25 December 1999</span>
         <span class="likebut glyphicon glyphicon-tag"></span>
         </div>   
   <br>
        <p class="pull-left">Sebestian Lawrence<br>
           <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
            <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
             <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
               <span class="glyphicon glyphicon-star-empty" style="font-size:18px;"></span>
        </p>
     
        <span class="badge pull-right" style="background-color:teal">NO-34</span>
      </div>
     </div>
  </div>
  <div class="col-lg-3">
     <div class="panel">
        <div class="panel-heading" style="background-color:black;color:#fff;"><strong>Lamborghini</strong></div>
        <div class="panel-body" style="background-color:#000;color:#fff; box-shadow:0 -12px 13px teal inset;">
        
        <div class="boximg">
         <img src="/assets/r2.jpg" class="img-responsive">
         <span class="label label-danger date">19 January 1995</span>
         <span class="likebut glyphicon glyphicon-tag"></span>
         </div>
         
         
   <br>
        <p class="pull-left">Michael Schumacher<br>
           <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
            <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
             <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
              <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
               <span class="glyphicon glyphicon-star-empty" style="font-size:18px;"></span>
        </p>
     
        <span class="badge pull-right" style="background-color:teal">NO-01</span>
      </div>
     </div>
  </div>
  <div class="col-lg-3">
     <div class="panel">
        <div class="panel-heading" style="background-color:black;color:#fff;"><strong>Audi</strong></div>
        <div class="panel-body" style="background-color:#000;color:#fff; box-shadow:0 -12px 13px teal inset;">
        
        <div class="boximg">
         <img src="/assets/r3.jpg" class="img-responsive">
         <span class="label label-danger date">15 August 2005</span>
         <span class="likebut glyphicon glyphicon-tag"></span>
         </div>
         
         
   <br>
        <p class="pull-left">Valentino Rossi<br>
           <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
            <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
               <span class="glyphicon glyphicon-star-empty" style="font-size:18px;"></span>
        </p>
     
        <span class="badge pull-right" style="background-color:teal">No-19</span>
      </div>
     </div>
  </div>
  <div class="col-lg-3">
     <div class="panel">
        <div class="panel-heading" style="background-color:black;color:#fff;"><strong>Aston Martin</strong></div>
        <div class="panel-body" style="background-color:#000;color:#fff; box-shadow:0 -12px 13px teal inset;">
        
        <div class="boximg">
         <img src="/assets/r4.jpg" class="img-responsive">
         <span class="label label-danger date">25 December 2015</span>
         <span class="likebut glyphicon glyphicon-tag"></span>
         </div>
         
         
   <br>
        <p class="pull-left">Jack Dawson<br>
           <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
            <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
             <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
               <span class="glyphicon glyphicon-star-empty" style="font-size:18px;"></span>
        </p>
     
        <span class="badge pull-right" style="background-color:teal">No-04</span>
      </div>
     </div>
  </div>
 </div>

</div>

<div class="container outerpadding">
<div class="row">

  <div class="col-lg-3">
     <div class="panel">
        <div class="panel-heading" style="background-color:black;color:#fff;"><strong>Jaguar</strong></div>
        <div class="panel-body" style="background-color:#000;color:#fff; box-shadow:0 -12px 13px teal inset;">
        <div class="boximg">
         <img src="/assets/t1.jpg" class="img-responsive">
         <span class="label label-danger date">12 March 1999</span>
         <span class="likebut glyphicon glyphicon-tag"></span>
         </div>   
   <br>
        <p class="pull-left">Rony Terrence<br>
           <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
            
               <span class="glyphicon glyphicon-star-empty" style="font-size:18px;"></span>
        </p>
     
        <span class="badge pull-right" style="background-color:teal">NO-99</span>
      </div>
     </div>
  </div>
  <div class="col-lg-3">
     <div class="panel">
        <div class="panel-heading" style="background-color:black;color:#fff;"><strong>Volkswagen</strong></div>
        <div class="panel-body" style="background-color:#000;color:#fff; box-shadow:0 -12px 13px teal inset;">
        
        <div class="boximg">
         <img src="/assets/t2.jpg" class="img-responsive">
         <span class="label label-danger date">30 January 1995</span>
         <span class="likebut glyphicon glyphicon-tag"></span>
         </div>
         
         
   <br>
        <p class="pull-left">Muller Michael<br>
           <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
            <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
             <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
              <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
               <span class="glyphicon glyphicon-star-empty" style="font-size:18px;"></span>
        </p>
     
        <span class="badge pull-right" style="background-color:teal">NO-02</span>
      </div>
     </div>
  </div>
  <div class="col-lg-3">
     <div class="panel">
        <div class="panel-heading" style="background-color:black;color:#fff;"><strong>RangeRover</strong></div>
        <div class="panel-body" style="background-color:#000;color:#fff; box-shadow:0 -12px 13px teal inset;">
        
        <div class="boximg">
         <img src="/assets/t3.jpg" class="img-responsive">
         <span class="label label-danger date">15 August 2005</span>
         <span class="likebut glyphicon glyphicon-tag"></span>
         </div>
         
         
   <br>
        <p class="pull-left">Martin Milano<br>
           <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
            <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
               <span class="glyphicon glyphicon-star-empty" style="font-size:18px;"></span>
        </p>
     
        <span class="badge pull-right" style="background-color:teal">No-06</span>
      </div>
     </div>
  </div>
  <div class="col-lg-3">
     <div class="panel">
        <div class="panel-heading" style="background-color:black;color:#fff;"><strong>Ferrari</strong></div>
        <div class="panel-body" style="background-color:#000;color:#fff; box-shadow:0 -12px 13px teal inset;">
        
        <div class="boximg">
         <img src="/assets/t4.jpg" class="img-responsive">
         <span class="label label-danger date">25 December 2015</span>
         <span class="likebut glyphicon glyphicon-tag"></span>
         </div>
         
         
   <br>
        <p class="pull-left">Dwayne Johnson<br>
           <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
            <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
             <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
               <span class="glyphicon glyphicon-star-empty" style="font-size:18px;"></span>
        </p>
     
        <span class="badge pull-right" style="background-color:teal">No-44</span>
      </div>
     </div>
  </div>
 </div>

</div>

<%= render "footer"%>	

</html>







